<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="enableSimpleMembership" value="false"/>
    <add key="MsSQL_Database" value="spendingtracker"/>
    <add key="MsSQL_Username" value="spendingtracker"/>
    <add key="MsSQL_Password" value="?"/>
    <add key="MsSQL_Hostname" value=".\SQLEXPRESS"/>
    <add key="DataCacheFolder" value="c:\temp"/>

    <!-- Mail server configuration -->
    <!-- IMAP required -->

    <add key="UseSsl" value="false"/>
    
    <!-- Mail server port -->
    <add key="MailServerPort" value="143"/>
    
    <!-- Mail server host -->
    <add key="MailServerHost" value="imap.taskbeat.com"/>
    
    <!-- Mail server username -->
    <add key="MailServerUsername" value="notification@taskbeat.com"/>
    
    <!-- Mail server password -->
    <add key="MailServerPassword" value="alaskaalaska1"/>
    
    <!-- Interval between checking a mail server for new messages -->
    <add key="MailServerCheckerInterval" value="25000"/>
   
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
